<!-- Modal -->
<div class="modal fade" id="modifierAnnonce" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-warning" id="exampleModalLabel"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-muted">
        {# {% include "annonce_admin/_form.html.twig" %} #}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary modal-trigger" data-bs-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>

</div>

{% block javascripts %}
<script>
  window.onload = () =>{
    let buttons = document.querySelectorAll(".modal-trigger");
    for(let button of buttons)
    {
      // console.log(button);
      button.addEventListener("click", function(){
        let xmlhttp = new XMLHttpRequest;
					xmlhttp.open("get", `/annonce/modifier/${this.dataset.annonce}`)
					xmlhttp.send()
					})
    }
  } 
  
</script>
{% endblock %}
