<!-- Modal -->
<div class="modal fade" id="numeroUser" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-warning" id="exampleModalLabel">Numero de le user {{annonce.user.username}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-muted">
        <i class="fa-solid fa-phone"></i>&ensp;&ensp;{{annonce.user.telephone}}
      </div>
      <div class="modal-footer">
        <a href="#" class="btn btn-warning text-white">SMS</a>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>
