<!-- Modal -->
<div class="modal fade" id="deleteAnnonce" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-warning" id="exampleModalLabel"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-muted">
        {# {% include "annonce_admin/_form.html.twig" %} #}
      </div>
      <div class="modal-footer">
        <a type="button" class="btn btn-danger text-white">Supprimer</a>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>

</div>

{% block javascripts %}
<script>
    window.onload = () =>{
        let buttons = document.querySelectorAll("[data-bs-target=deleteAnnonce]");
        for(let button of buttons){
            button.addEventListener("click",function(){
                let xmlhttp = new XMLHttpRequest;

                xmlhttp.open("get", `/annonce/supprimer/${this.dataset.annonce}`)
                xmlhttp.send()
            })
        }
        let supprimer = document.querySelectorAll("#deleteAnnonce");
        for(let bouton of supprimer){
            bouton.addEventListener("click", function () {
                document.querySelector(".modal-title").innerText = `Supprimer ${this.dataset.titre}`
                document.querySelector(".modal-footer a").href = `/annonce/supprimer/${this.dataset.annonce}`
                document.querySelector(".modal-body").innerText = `Etes-vous sur(e) de vouloir supprimer ${this.dataset.titre}`
            })
        }

    }
</script>
{% endblock %}

