<div class="container">
    <div class="row">
        <h4>Contact au sujet de votre annonce "{{ annonce.titre }}"</h4>

        <p>De: {{mail}}</p>

        <p>Message: {{message}}</p>
    </div>
</div>